@font-face{

font-family: 'Basil Regular';

src: url('../fonts/basil.ttf');

src: url('../fonts/basil.ttf') format('ttf'),

url('../fonts/basil.otf') format('otf'),

font-weight: normal;

font-style: normal;

}
.underline_menu{
    border-bottom: 1px solid rgba(59,79,148,0.9);
}

.top-bar{
    background:  url("../assets/img/bg.png") center center no-repeat;
    background-color:rgba(255,255,255,0.85);
}

.top-bar .container {
    padding: 0;
    text-align: center;


}

.header_title{
    display: none;
    font-family: 'Brush Script MT',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: #cc4e5c;
    margin: 0;
    margin-bottom: -2px;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 1);
}


.header_info{
    text-align:center;
    position:absolute; top:13%;
    right:15px;
    font-size: 14px;
    font-weight: 400
}

.header_info_mobile{
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.employee img{
    margin-bottom: 8px;
}
.employee h3.employee-name{
    color:rgba(59,79,148,0.9);
}

.divider-blog .divider-text-sub {
    font-weight: 700;
    font-size: 34px;
    text-transform: uppercase;
    line-height: 39px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, "Lato";
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.divider-text-lead{
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
.paragraph-title{
    line-height: 42px;
}
.sub-title{
    font-weight: 400;
    font-size: 18px;
}

.filters li .selected, .filters li a:hover {
    color: rgba(239,130,127,0.9);
}

.cubes_red, .cubes_red:hover{
    background-color: rgba(239,130,127,0.9);
}

.cubes_blue, .cubes_blue:hover{
     background-color: rgba(59,79,148,0.8);
 }
.cubes_green, .cubes_green:hover{
     background-color: rgba(93,173,32,0.8);
 }
.cubes_yellow, .cubes_yellow:hover{
    background-color: rgba(255,217,0,0.9);
}
.cubes_dark_green, .cubes_dark_green:hover{
    background-color: rgba(81,119,78,0.8);
}

.portfolio-link .portfolio-title{
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
}
.portfolio-link .portfolio-excerpt{
    font-size: 18px;
    line-height: 21px;
    color:#fff;
    font-weight: 400;
}

.portfolio-link.cubes_yellow .portfolio-title{
    color:#777;
}
.portfolio-link.cubes_yellow .portfolio-excerpt{
    color:#777;
}

.sub-title-slider{
    font-family: 'Brush Script MT',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 26px;
    color: #000;
}

.button.callus{
    background-color: #fff;
    color: rgba(239,130,127,1);
    box-shadow: 0 2px 1px 1px #333, inset 0 2px 1px 1px rgba(0, 0, 0, 0);
    margin-top: 5px;
}



#section-pricing .paragraph-title{
    color: rgba(81,119,78,0.8);
}

.pricing-option .pricing-top{
    background-color: rgba(255,217,0,0.8);
    color: #777;
    padding:10px 0;
}
.pricing-option{
    box-shadow: 0px 2px 0px 0px #aaa  inset;
    border-top: 5px solid #eee;
    background: #eee;
    padding-bottom: 0;

}

.pricing-option .pricing-top .pricing-edition{
    letter-spacing:normal;
    float: right;
    margin-right: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.75);
}

.pricing-option .pricing-top .old-price{
    float: left;
    text-decoration: line-through;
    margin-left: 26px;
    color: #999;
    font-family: 'Brush Script MT',"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
}

.pricing-option .pricing-top .good-price {
    float: right;
    font-size: 46px;
    line-height: 46px;
    padding: 0;
    margin-right: 20px;
    font-style: italic;
    font-family: 'Brush Script MT',Arial,"Helvetica Neue", Helvetica, Arial, sans-serif;

}
.pricing-option .pricing-bottom .good-price{
    float: right;
    font-size: 25px;
    line-height: 35px;
    padding: 0;
    margin-right: 20px;
    font-style: italic;
    font-family: Arial,"Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
    font-weight: 700;
    color: rgb(81,119,78);
}

.pricing-option ul {
    list-style: none;
    margin: 0;
    text-align: left;
    margin-bottom: 50px;
    padding-bottom: 70px;

}
.pricing-option ul li {
    padding: 10px;
    line-height: 16px;
    font-weight: 400;
    font-size: 14px;
    color: #333;
}

#section-pricing{
    padding-bottom: 20px;
}

footer {
    text-align: left;
    color: #bbb;
    font-size: 14px;
    font-weight: 400;
    background: #1f2325;
    padding: 5px;
    padding-left: 20px;
}


.main-nav ul .list-button a {
    background-color: rgba(59,79,148,0.8);
}

.overlay-trigger:hover .trigger-title {
    background-color: rgba(59,79,148,0.8);
}

/*.overlay-trigger{*/
    /*border: none;*/
    /*width: 500px;*/
    /*height: 269px;*/

/*}*/

/*.overlay-trigger .trigger-image {*/
    /*width: 500px;*/
    /*height: 269px;*/
/*}*/

@media only screen and (min-width: 1200px) {
    .overlay-trigger .trigger-title {
        top: 6px;
        left: 1%;
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .overlay-trigger .trigger-title {
        top: 6px;
        left: 1%;
    }
}


.blog-entry .entry-media:hover img {
    /*opacity: 0.4;*/
    transform: scale(1.5) rotate(10deg);
    -webkit-transform: scale(1.5) rotate(10deg);
    -moz-transform: scale(1.5) rotate(10deg);
    -ms-transform: scale(1.5) rotate(10deg);
    background: none;
}

.blog-entry .entry-media img {
    transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    height: auto;
}

.blog-entry .entry-media{
    overflow: hidden;
}
.blog-entry .entry-title{
    font-size: 21px;
    color: rgba(59,79,148,0.8);
    font-weight: 700;
}

/* Testimonials */

.post-quote blockquote{
    padding-left: 11px;
}

.post-quote blockquote p {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}


 blockquote footer {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    background: none;
    color:#fff;
    text-align: right;

}

blockquote footer:before {
    content: '\00A0 \2014 ';
}

.post-quote:before {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: rgba(255, 255, 255, 0);
    font-size: 71px;
}

/* Testimonials light */

.post-quote.light{
    color: #777;
}

.post-quote.light blockquote {
    margin-left: 10px;
    border-left: 1px solid rgba(119, 119, 119, 0.8);
}

.post-quote.light blockquote footer {
    color: #777;
}


/* Testimonials dark */

.post-quote.dark{
    color: #fff;
}

.post-quote.dark blockquote {
    margin-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
}

.post-quote.dark blockquote footer {
    color: #fff;
}
