/* Fragment Green Theme */

/* Text Colors */
a,
.filters li .selected,
.filters li a:hover,
.post-link a:hover,
.post-link a:hover:before,
.tabs-nav .active a,
.expandable-trigger:before,
.bypostauthor .comment-container .comment-author,
.paragraph-lead,
.state-enter:hover {
	color: #329357;
}

/* Background Colors */
a:hover,
a:focus,
.button,
button,
.button:hover,
.note,
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly],
.post-quote,
.pricing-option .pricing-top .special-label,
.pricing-option .pricing-signup {
    background: #329357;
}

.pricing-option .pricing-signup:hover {
    background: #24733e;
}

/* Border Colors */
a,
blockquote,
.post-link a:hover:before,
.project-details {
	border-color: #329357;
}

.tabs-nav .active a {
    border-top-color: #329357;
}

/* Shadow Colors */
.button, button {
    box-shadow: 0 2px 1px 1px #24733e, inset 0 2px 1px 1px rgba(0, 0, 0, 0);
}

/* Selection Text */
::-moz-selection {
    background: #c2f2d5;
    color: #00a445;
    text-shadow: none;
}

::selection {
    background: #c2f2d5;
    color: #00a445;
    text-shadow: none;
}